/* src/Accordion.css */

/* Genel stiller */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

.accordion {
    max-width: 600px;
    margin: 0 auto;
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.accordion-header {
    background-color: blueviolet;
    color: black;
    border: none;
    padding: 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.accordion-content {
    max-height: 0; /* Başlangıçta içeriği gizle */
    overflow: hidden; /* İçeriğin taşmasını engelle */
    padding: 0 15px; /* İçeriğin kenar boşluklarını ayarla */
    background-color: bisque;
    color: black;
    transition: max-height 1s ease, padding 0.4s ease; /* Animasyon geçişi */
}

/* Açık olan içeriğin stilini tanımla */
.accordion-content.open {
    color: black;
    max-height: 500px; /* İçeriğin yüksekliği için yeterli bir değer belirle */
    padding: 15px; /* Açıldığında içeriğin padding değerini ayarla */
}
